<%# CSS・・・assets/stylesheets/message.css %>
<%= render "share/header" %>
<div class='message_top'>
  <div class='habit_list room_habit_list'>
  </div>
  <div class='habit_list room_habit_list'>
  </div>
</div>
<div class='message_middle'>
  <div class='message_main'>
  </div>
</div>
<div class='message_bottom'>
  <div class='message_input'>
    <div class='message_form'>
    </div>
    <div class='message_send'>SEND</div>
  </div>
</div>