<%# CSS・・・assets/stylesheets/share/header.css %>
<header class='header'>
  <div class='title'>
    <%= link_to root_path , class: "link" do %>
      <div>Habit Maker</div>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div class='select'>
      <div class='user-nickname'>
      <%= link_to current_user.nickname, "#" , class: 'link' %>
      </div>
      <div class='new_room'>
      <%= link_to 'グループ作成', new_room_path , class: 'link' %>
      </div>
      <div class='logout'>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete , class: 'link' %>
      </div>
  </div>
  <% end %>
</header>