.header {
  background-color: lightblue;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.title {
  background-color:deepskyblue;
  width: 300px;
  min-width: 200px;
  height: auto;
  padding: 5px 0;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.select{
  width: 500px;
  font-size: 20px;
  display: flex;
  justify-content: right;
}

.logout {
  background-color: whitesmoke;
  width: 150px;
  padding: 8px 0;
}
.new_room{
  background-color: whitesmoke;
  width: 150px;
  padding: 8px 0;
}
.user-nickname {
  width: 200px;
  padding: 8px 0;
}
