<%# CSS・・・assets/stylesheets/user.css %>
<%= render "share/header" %>
<div class='main_user'>
  <div class='center_user'>
    <div class='top_user'>
      <div class='top_user_name'>
        <div class='left_user_name'>
        ユーザー名 :
        </div>
        <div class='right_user_name'>
        <%= current_user.nickname %>
        </div>
      </div>
    </div>
    <div class='bottom_user'>
      <div class='user_habit_resist'>
        <%= link_to new_habit_path, class: "link" do %>
        <div class='resist_btn'>
        登録
        </div>
        <% end %>
        <div class='resist_comment'>
        : 習慣、目標を登録して下さい。
        </div>
      </div>
       <%# CSS・・・assets/stylesheets/user.css %>
      <div class='user_habit_lists'>
        <%= render partial: 'list', collection: @habits %>
      </div>
    </div>
  </div>
</div>