<%= render "share/header" %>
<div class='room-main'>
<div class='room-detail'>

<div class='room-set'>
<div class='room-set-name'>
<div class='room-name'>プログラミング</div>
</div>
<div class='room-set-member'>
<div class='room-member'>青島</div>
</div>
<div class='room-set-delete'>
<div class='room-delete'>削除</div>
</div>
</div>

<div class='room-set'>
<div class='room-set-name'>
<div class='room-name'>登山</div>
</div>
<div class='room-set-member'>
<div class='room-member'>松本</div>
</div>
<div class='room-set-delete'>
<div class='room-delete'>削除</div>
</div>
</div>

</div>
</div>

