/* 共通 */
.main_account{
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
}
.input_form{
  width: 300px;
  height: 30px;
}

/* ユーザー登録 */
.account_error{
  height: 100px;
  text-align: center;
  color: red;
  padding-top: 20px;
}
.detail_account_login{
  width: 800px;
  height: 300px;
  border: 2px double;
  display: flex;
}
.detail_account_sign_up{
  width: 800px;
  height: 500px;
  border: 2px double;
  display: flex;
}
.account_side{
  width:400px;
  padding: 0 20px;
}

.login{
  font-size: 60px;
  margin: 40px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.account_main{
  width: 400px;
}
.account_input{
  margin: 30px 0;
}

.login_btn{
  background-color: lightblue;
  width: 100px;
  height: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

/* グループ作成 */
.room-error{
  height: 100px;
  text-align: center;
  color: red;
  padding-top: 20px;
}
.detail_new_room{
  width: 800px;
  height: 300px;
  border: 2px double;
  display: flex;
}

.new_room_side{
  width:400px;
  padding: 0 20px;
}
.room_create{
  font-size: 40px;
  margin: 40px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.new_room_main{
  width: 400px;
}
.room_input{
  margin: 30px 0;
}

.room_btn{
  background-color: lightblue;
  width: 100px;
  height: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

/* 習慣、目標作成 */
.detail_new_habit{
  width: 800px;
  height: 620px;
  border: 2px double;
  display: flex;
}

.habit_resist_explantion {
  text-decoration: underline;
  font-size: 18px;
}