.message_top{
  background-color: lightblue;
  height: 350px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

/* habit_listは後で、habit.cssに移す */
.habit_list{
  background-color: whitesmoke;
  height: 300px;
  width: 400px;
}
.room_habit_list{
  margin-right: 20px;
}
.message_middle{
  background-color: white;
  height: calc(100vh - 470px);
  min-height: 200px;
  box-sizing: border-box;
  padding: 10px;
  overflow: scroll;
}
.message_main{
  height: auto;
  box-sizing: border-box;
  border: 1px solid;
  display: inline-block;
}
.message_main_top{
  display: flex;
  justify-content: left;
}
.message_name{
  margin-left: 5px;
  text-decoration: underline;
}
.message_date{
  margin: 0px 10px;
}
.message_comment{
  margin: 5px;
}

.message_bottom{
  background-color:lightblue;
  height: 70px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.message_input{
  background-color: lightblue;
  width: 90%;
  height: 50px;
  display: flex;
}
.message_form{
  background-color: whitesmoke;
  width: calc(100% - 100px);
  margin-right: 20px;
  box-sizing: border-box;
}
.message_send{
  background-color: coral;
  width: 100px;
  text-align: center;
  padding-top: 15px;
}
